<div class="card">
    <img class="card-img-top"  [src]="src" >
    <div class="card-body">
      <h5 class="card-title"> {{name}}</h5>
      <div class="card-text"> 
          <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  species
                <span class="badge badge-primary ">{{species}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  gender
                <span class="badge badge-primary ">{{gender}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  status
                <span class="badge badge-primary ">{{status}}</span>
              </li>
            </ul>
        
          </div>
    </div>
  </div>